# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# Database
*.db
*.db-journal
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

packages/backend/src/data

